@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff4d4;
}

main{
    flex: 1;
    padding: 1rem;
}

main.padded{
    padding: 3rem;
}

form button, input{
    font-family: 'Roboto Mono', monospace;

}

nav.navbar .navbar-menu .navbar-item{
    margin: 0 0.5rem;
}

nav.navbar .navbar-brand .navbar-item{
    text-underline-offset:4px;
}

footer{
    background-color: lightblue;
    margin-top: 2rem;
}

footer.footer{
    padding: 1.8rem 0.8rem 2.5rem;

}

header.login-header{
    font-size: 2rem;
}

.form-wrapper{
    max-width: 25%;
}

@media screen and (min-width: 1024px) {
    nav.navbar .navbar-brand{
        margin-right: 2rem;
    }
}