<div id="accordion" class="ml-2">
    {% for username, tasks in user_tasks.items() %}
        <article class="message is-info">
            <a href="#accordion-item-{{ loop.index }}" data-action="collapse">
                <div class="message-header">
                    <div>
                        {{ username }}
                    </div>
                    <div>
                        <span class="icon">
				            <i class="fas fa-angle-down" aria-hidden="true"></i>
			            </span>
                    </div>
                </div>
            </a>
            <div id="accordion-item-{{ loop.index }}" class="message-body is-collapsible" data-parent="accordion" data-allow-multiple="true">
                <div class="message-body-content">
                    <div class="list">
                        {% for task in tasks %}
                            <div class="list-item">
                                <div class="list-item-content {{ 'is-done' if task.is_completed }}">
                                    <div class="list-item-title">{{ task.title }}</div>
                                    <div class="list-item-description">{{ task.content }}</div>
                                </div>
                            </div>
                        {% else %}
                            <div>
                                this user has no tasks
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
    {% else %}
        <div class="">
            no users found
        </div>
    {% endfor %}
</div>